.hero {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 300;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: #666;
}

.hero-badges {
  margin-top: 1rem;
}

.badge {
  display: inline-block;
  padding: 4px 6px;
  margin-right: 10px;
  border-radius: 10px;
  background: #e9dcff;
  color: #5b2ecc;
  font-weight: 650;
  font-size: 0.7rem;
}

.announcement-highlight-box {
  background: #FCE9E7;
  border-left: 6px solid #ed7366;
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.announcement-highlight-box p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.chunk-box {
  margin-bottom: 3rem;
}

.chunk-box p {
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #595f75;
}

.image-double-container {
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

.image-double-container img {
    height: clamp(150px, 30vw, 200px);
    width: 75%;
}

@media (max-width: 768px) {
    .image-double-container {
        flex-direction: column;
    }

    .image-double-container img {
        width: 100%;
        height: auto;
    }
}

.indented-emphasis-box {
  margin-left: 0.5rem;
  border-left: 3px solid #515354;
  padding-left: 1rem;
}

.quote-box {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  
  background: #e5f2fc;
  border-left: 6px solid #668fed;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.quote-text {
  flex: 1;
  line-height: 1.5;
}

.quote-emoji {
  font-size: 1.3rem;
  line-height: 1;
  flex-shrink: 0;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex: 1 1 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

.card h3 {
  margin-top: 0;
}